Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Welcome to the OreSec Wiki</a></li>
  <li><a href="{{ '/cyber-mine' | relative_url }}">The Cyber Mine</a></li>
  <li><a href="{{ '/high-school-ctf' | relative_url }}">High School CTF</a></li>
  <li><a href="{{ '/wiki-submissions' | relative_url }}">Submit your own page</a></li>
  <li><a href="{{ '/contacts' | relative_url }}">Get in Touch</a></li>
</ul>
